<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- Form for adding persons -->
    <form action = "/add" method = "POST">
        <input type = "text" name = "name" placeholder = "Enter Name">
        <input type = "number" name = "age" placeholder = "Enter Age">
        <input type = "text" name = "city" placeholder = "Enter City">
        <input type = "submit">
    </form>

</body>
</html>